#sign-up-wrapper{
  height: 1164px;
  margin-top: 150px;
}
.sign-up-content-sns-sign-in-button-box{
  justify-content: center;
  display: flex;
}
.kakao-sign-in-button{
  margin-right: 30px;
}

.InputBox { /* Adjust this class name based on the actual rendered HTML of the InputBox component */
  margin-bottom: 20px;

}


/* To specifically target the last child within 'sign-up-content-input-box' to avoid extra spacing before 'sign-up-content-button-box': */
.sign-up-content-input-box > :last-child {
  margin-bottom: 0;
}

/* To apply the same margin to individual input elements inside 'sign-up-content-input-box', in case they are direct children: */
.sign-up-content-input-box > input {
  margin-bottom: 20px;
}

/* Or if InputBox components are siblings within 'sign-up-content-input-box' and you want to avoid extra margin at the bottom: */
.sign-up-content-input-box > :not(:last-child) {
  margin-bottom: 20px;
}

.text-link-lg-full-width{
  margin-top: 30px;
}