.sign-in-content-sns-sign-in-button-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sign-in-content-sns-sign-in-box{
    margin-top: 30px;
}

.text-link-lg-full-width{
    margin-top: 30px;
}


.sign-in-content-input-box{
    margin-top: 30px;
}
#sign-in-wrapper{
    height: 1164px;
    margin-top: 150px;
}

.input-box-title{
    margin-top: 30px;
}

#login-bar{
    margin-top: 30px;
}