#main-right-two {
    width: 420px;
    max-height: 90vh; /* 90% of the viewport height */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    overflow-y: auto; /* Makes content scrollable if it overflows */
}

.profile-image {
    background-color: #D3D3D3;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.user-info {
    margin-left: 20px;
}

.user-info div {
    margin-bottom: 8px;
}

#button{
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
}